Выбор квартиры (House-hunting)

Обоснование: набор данных представляет собой критерии для выбора квартиры, где "ID" - номер жилья, "DISTANCE" - расстояние от метро пешком(в минутах), "STOP_COUNT"-количество остановок до места учебы/работы, "COST" - ежемесячная цена аренды(в тысячах рублей). Необходимо выбрать три наилучших варианта с наименьшей стоимостью, наименьшим количеством времени до метро и минимальным количеством проезжаемых станций.

In [8]:
import pandas as pd
data = pd.read_csv('https://courses.openedu.ru/assets/courseware/v1/56e6a86e4d025ce9847e52b375f8ac6b/asset-v1:ITMOUniversity+DATANTECH2035+fall_2021_3+type@asset+block/task4_372666.csv',
                   delimiter=',',
                   decimal='.',
                   index_col='ID')
data

     DISTANCE  STOP_COUNT   COST
ID
1          21          10  23.86
2          19           1  20.91
3          13           2  25.50
4          19          12  12.79
5           9           9  25.20
..        ...         ...    ...
196        11           8  28.50
197        21          10  27.02
198        22          11  16.96
199        29          10  24.04
200        22           4  23.99

[200 rows x 3 columns]

Выполнение экспоненциальной нормировки для выбранных данных.

In [9]:
import numpy as np
data = 1 - np.exp(1 - data/data.min())
data

     DISTANCE  STOP_COUNT      COST
ID
1    0.997521    0.999877  0.739751
2    0.995172    0.000000  0.652172
3    0.964326    0.632121  0.778509
4    0.995172    0.999983  0.227111
5    0.864665    0.999665  0.771878
..        ...         ...       ...
196  0.930517    0.999088  0.835091
197  0.997521    0.999877  0.809258
198  0.998224    0.999955  0.487087
199  0.999828    0.999877  0.744317
200  0.998224    0.950213  0.743056

[200 rows x 3 columns]

Создание дополнительного столбца со значениями целевой функции

In [34]:
data['SUM'] = 0
data['SUM'] = data['DISTANCE'] + data['STOP_COUNT'] + data['COST']

Выведем три лучших варианта

In [35]:
def find_best_variant():
    result = data.sort_values(by = 'SUM')[0:3]
    return result
find_best_variant()

     DISTANCE  STOP_COUNT      COST       SUM
ID
6    0.486583         0.0  0.179335  0.665918
123  0.632121         0.0  0.217168  0.849289
39   0.999347         0.0  0.086491  1.085838

В результате было получено, что наилучшие варианты квартир имеют ID 6,123 и 39.